# Extensions and prefixes.
*.tmp
tmp.*
*~
?*.gitignore
gitignore*

# Specific files.
/data
/gem5/out
/lkmc-*.zip
/out
/out.*

# Python trash.
*.pyc
__pycache__

# Accidents.
/core
/m5out
*.o
*.out

# Kernel modules.
.cache.mk
*.ko.cmd
*.o.cmd
.tmp_versions
Module.symvers
*.ko
*.mod.c
modules.order
