[submodule "buildroot"]
	path = submodules/buildroot
	url = https://github.com/cirosantilli/buildroot
	ignore = dirty
[submodule "qemu"]
	path = submodules/qemu
	url = https://github.com/cirosantilli/qemu
[submodule "linux"]
	path = submodules/linux
	url = https://github.com/cirosantilli/linux
[submodule "gem5/gem5"]
	path = submodules/gem5
	url = https://gem5.googlesource.com/public/gem5
[submodule "parsec-benchmark/parsec-benchmark"]
	path = submodules/parsec-benchmark
	url = https://github.com/cirosantilli/parsec-benchmark
