[submodule "buildroot"]
	path = buildroot
	url = https://github.com/cirosantilli/buildroot
	ignore = dirty
[submodule "qemu"]
	path = qemu
	url = https://github.com/cirosantilli/qemu
[submodule "linux"]
	path = linux
	url = https://github.com/cirosantilli/linux
[submodule "gem5/gem5"]
	path = gem5/gem5
	url = https://gem5.googlesource.com/public/gem5
[submodule "parsec-benchmark/parsec-benchmark"]
	path = parsec-benchmark/parsec-benchmark
	url = https://github.com/cirosantilli/parsec-benchmark
