# Important directories.
/out
/data

# Temporary files.
*.tmp
tmp.*
*.tmp.*
*~
*.gitignore
gitignore.*

# https://github.com/cirosantilli/linux-kernel-module-cheat#prebuilt
/lkmc-*.zip

# https://github.com/cirosantilli/linux-kernel-module-cheat#bst-vs-heap-vs-hashmap
*.dat

# Python trash.
*.pyc
__pycache__

# Accidents.
/core
/m5out
*.o
*.out

# Kernel modules.
*.ko
*.ko.cmd
*.mod.c
*.o.cmd
.cache.mk
.tmp_versions
Module.symvers
modules.order
