# Important directories.
/out
# https://cirosantilli.com/linux-kernel-module-cheat#docker
/out.docker
/data

# Temporary files.
*.tmp
tmp.*
*.tmp.*
*~
*.gitignore
gitignore.*

# https://cirosantilli.com/linux-kernel-module-cheat#prebuilt
/lkmc-*.zip

# https://cirosantilli.com/linux-kernel-module-cheat#bst-vs-heap-vs-hashmap
*.dat

# Python trash.
*.pyc
__pycache__
.venv

# Accidents.
/core
/m5out

# In-tree userland builds.
*.o
*.out
*.so

# Kernel modules.
*.ko
*.ko.cmd
*.mod.c
*.o.cmd
.cache.mk
.tmp_versions
Module.symvers
modules.order

# node.js
node_modules

# Performance profiling stuff.
perf.data
callgrind.out.*
