#BR2_TARGET_ROOTFS_EXT2_SIZE="512M"

#BR2_PACKAGE_OPENSSH=y

#BR2_PACKAGE_OPENBLAS=y
#BR2_PACKAGE_OPENBLAS_TARGET="NEHALEM"

#BR2_PACKAGE_PARSEC_BENCHMARK=y
#BR2_PACKAGE_PARSEC_BENCHMARK_BUILD_LIST="all"
#BR2_PACKAGE_PARSEC_BENCHMARK_INPUT_SIZE="test"
