#!/usr/bin/env bash
arch=x86_64
gem5=
#gem5=-g
printf '
#BR2_TARGET_ROOTFS_EXT2_SIZE="1024M"
' > br2.gitignore
cli_build="-a ${arch} -b br2.gitignore -b br2_x11 ${gem5}"
cli_run="-a ${arch} ${gem5}"
cli_rungdb="-a ${arch} ${gem5}"
cli_rungdbserver="-a ${arch} ${gem5}"
cli_rungdb_user="-a ${arch} ${gem5}"
cli_trace_boot="-a ${arch}"
cli_trace2line="-a ${arch}"
